__pycache__
*.egg-info
*.pyc
.vscode
.gradio
.claude
pyrightconfig.json

/models
/logs
/outputs
/runs
/neoverse

/diffsynth/data/images/
/diffsynth/data/masks/
/diffsynth/data/merged_masks/
/diffsynth/data/object_models/
/diffsynth/data/tar_recv*/
/diffsynth/data/training_masks/
/diffsynth/data/training_images/
/diffsynth/data/training_data_modal
/diffsynth/data/mano/
/diffsynth/data/benchmarking/

/examples/videos/
/handy-classification/data/
/handy- classification/data/

*.pt
*.pth
*.ckpt
*.safetensors
*.npz
*.glb
*.mp4
*.png
*.jpg
*.jpeg
*.jsonl
*.csv
*.tar
*.zip
*.h5
*.hdf5